body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 5px 0;
}

.header h2 {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.area-upload {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dotted black;
  background-color: white;
  position: relative;
}

.input-file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* .area-cropper {
  width: 100%;
} */

#uploaded {
  max-width: 100%;
}

.area-result {
  display: none;
  /* justify-content: space-between; */
}

.area-preview {
  width: 40%;
}

.area-preview div img {
  max-width: 100%;
}

.area-user progress {
  width: 100%;
}

.area-user textarea {
  width: 300px;
  height: 300px;
}

#area-camera {
  width: 100%;
  /* display: inline-block; */
  display: none;
}

#area-camera video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 1024px;
  height: 540px;
}

#area-camera button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
}